/*-- Styling for website footer starts here --*/

.container3 {
    background: black;
    display: block;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.app5 {
    display: block;
    justify-content: center;
    padding: 20px 50px;

}

.app5 p {
    font-size: 15px;
}

.app5 h4 {
    font-size: 15px;
    background: white;
    color: black;
}

.app5 a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.app5 a:hover {
    transition: 0.5s;
    color: white;
    padding-left: 10px;
}

/*-- Styling for website footer end here --*/