* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*-- Styling for Navbar starts here --*/

.navbar {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 75px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li:hover {
    border-bottom: 2px solid white;
    color: black;
    margin: 0 10px;
    transition: 0.5s;
}

/*-- Styling for Navbar ends here --*/

/*-- Styling for trending heading starts here --*/


.trendapp {
    border-top: 2px solid black;
    color: white;
    margin-top: 20px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trap {
    background: black;
    padding: 5px 30px;
    border-top: 2px solid black;
}


/*-- Styling for trending heading ends here --*/

/*-- Styling for landing page trending apps section starts here --*/

.container1 {
    display: flex;
    padding: 0 75px;
}

.container1_1 {
    width: 30%;
    padding: 0 20px;
}

.container1_2 {
    width: 70%;
    padding: 0 20px;
}

/*-- Styling for landing page trending apps section starts here --*/